{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block navbar %}
<a class="nav-option active" href="{% url 'home' %}">Home</a>
<a class="nav-option" href="{% url 'myprofile' %}">Profile</a>
<a class="nav-option" href="{% url 'messages' %}">Messages</a>
<a class="nav-option" href="{% url 'world' %}">World</a>
{% endblock %}

{% block body %}
<br class="clear">

<div class="row">
    <div class="col-sm">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae consequatur quo aspernatur aliquid
            enim sunt nisi ad itaque impedit nemo. Iste magnam quod veritatis cum numquam nihil, facere accusantium
            sed. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, velit fugiat? Minus delectus pariatur
            dolores
            doloribus maiores! Fugiat optio velit, ipsum similique laboriosam pariatur mollitia assumenda quis quia et
            eveniet!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sed rem sequi dolorem vero delectus
            deleniti
            quisquam facere nihil excepturi minima fuga quod laboriosam, nisi veritatis eius, officia, fugit
            repellendus! Lorem
            ipsum dolor sit amet, consectetur adipisicing elit. Explicabo cumque repellendus tempore praesentium nobis
            dolore
            cupiditate facere est. Aliquam itaque nemo assumenda molestiae totam dolores ullam doloremque? Obcaecati,
            magni
            assumenda? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel a iure quo assumenda ex magni?
            Voluptates
            minima, voluptatibus esse harum distinctio animi, repudiandae quos recusandae nihil magnam minus eligendi
            quibusdam.
            enim sunt nisi ad itaque impedit nemo. Iste magnam quod veritatis cum numquam nihil, facere accusantium
            sed. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, velit fugiat? Minus delectus pariatur
            dolores
            doloribus maiores! Fugiat optio velit, ipsum similique laboriosam pariatur mollitia assumenda quis quia et
            eveniet!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sed rem sequi dolorem vero delectus
            deleniti
            quisquam facere nihil excepturi minima fuga quod laboriosam, nisi veritatis eius, officia, fugit
            repellendus! Lorem
            ipsum dolor sit amet, consectetur adipisicing elit. Explicabo cumque repellendus tempore praesentium nobis
            dolore
            cupiditate facere est. Aliquam itaque nemo assumenda molestiae totam dolores ullam doloremque? Obcaecati,
            magni
            assumenda? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel a iure quo assumenda ex magni?
            Voluptates
            minima, voluptatibus esse harum distinctio animi, repudiandae quos recusandae nihil magnam minus eligendi
            quibusdam.
            enim sunt nisi ad itaque impedit nemo. Iste magnam quod veritatis cum numquam nihil, facere accusantium
            sed. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, velit fugiat? Minus delectus pariatur
            dolores
            doloribus maiores! Fugiat optio velit, ipsum similique laboriosam pariatur mollitia assumenda quis quia et
            eveniet!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sed rem sequi dolorem vero delectus
            deleniti
            quisquam facere nihil excepturi minima fuga quod laboriosam, nisi veritatis eius, officia, fugit
            repellendus! Lorem
            ipsum dolor sit amet, consectetur adipisicing elit. Explicabo cumque repellendus tempore praesentium nobis
            dolore
            cupiditate facere est. Aliquam itaque nemo assumenda molestiae totam dolores ullam doloremque? Obcaecati,
            magni
            assumenda? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel a iure quo assumenda ex magni?
            Voluptates
            minima, voluptatibus esse harum distinctio animi, repudiandae quos recusandae nihil magnam minus eligendi
            quibusdam.
        </p>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/myjs/world.js' %}"></script>
{% endblock %}