{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block navbar %}
<a class="nav-option" href="{% url 'home' %}">Home</a>
<a class="nav-option" href="{% url 'myprofile' %}">Profile</a>
<a class="nav-option" href="{% url 'messages' %}">Messages</a>
<a class="nav-option active" href="{% url 'world' %}">World</a>
{% endblock %}

{% block body %}
<br class="clear">
<div class="row">
    <div class="col-sm">
        <div class="container">
            <div class="centered" id="my_profile_data">
                <div class="main-image-div">
                    {% if user.profile_pic %}
                    <div class="main-image-div-sub" id="profile_main_image"
                        style="background-image: url('{{ MEDIA_URL }}{{ user.profile_pic }}');">
                        <img id="profile_pic" href="{{ MEDIA_URL }}{{ user.profile_pic }}">
                    </div>
                    {% else %}
                    <div class="main-image-div-sub" id="profile_main_image"
                        style="background-image: url('/static/images/default-user.png')">
                        <img id="profile_pic" href="{% static '/images/default-user.png' %}">
                    </div>
                    {% endif %}
                </div>
                <h2>{{ user.name }} {{ user.surnames }}</h2>
            </div>
            <hr>
            <div id="profile-picture-list" class="row text-center text-lg-left">
            </div>
        </div>
    </div>

    {% endblock %}

    {% block scripts %}
    <script src="{% static 'js/myjs/profile.js' %}"></script>
    {% endblock %}