{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block navbar %}
<a class="nav-option" href="{% url 'home' %}">Home</a>
<a class="nav-option active" href="{% url 'profile' %}">Profile</a>
<a class="nav-option" href="{% url 'messages' %}">Messages</a>
<a class="nav-option" href="{% url 'world' %}">World</a>
{% endblock %}

{% block body %}
<div class="content">
    <h3>Hola {{ mydata.name }}</h3>
    <p>This is your profile page</p>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}