{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block navbar %}
<a class="nav-option" href="{% url 'home' %}">Home</a>
<a class="nav-option" href="{% url 'profile' %}">Profile</a>
<a class="nav-option" href="{% url 'messages' %}">Messages</a>
<a class="nav-option active" href="{% url 'world' %}">World</a>
{% endblock %}

{% block body %}
<div class="content">
    <h3>Hola {{ data.name }}</h3>
    <p>Find your friends here</p>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}