<!DOCTYPE html>
<html lang="en">

<body style="background: rgb(227, 254, 255);">
    <div style="text-align: center;">
        <div style="position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 0.25rem; margin: auto;
        margin: auto;
        background-color: #258eff;
        border-color: #b8daff;">
            <h1 style="color: #ffffff; font-size: 30px; font-family: 'arial';">Welcome to {{ social_network }}</h1>
        </div>
        <p>Hi, {{ name }}.</p>
        <p>We are glad you want to join us!</p>
        <p>To complete your registration, click in the link bellow:</p>
        <p>{{ url }}</p>

        <!--<a style="text-decoration: none; padding: 0 2em 0 2em;" href="{{url}}">
            <div style="position: relative;
            max-width: 500px;
            padding: 0.75rem 1.25rem;
            margin-bottom: 1rem;
            border: 1px solid transparent;
            border-radius: 0.25rem; margin: auto; 
            background-color: #cce5ff;
            border-color: #b8daff;">Activate account</div>
        </a>-->
    </div>
    <p>Created by Alex</p>
</body>

</html>