html {
    min-height: 100%;
    background: hsl(221, 100%, 78%);
    background: linear-gradient( to left top, #6b46a7, #b9caff);
    overflow-x: hidden;
}

p {
    margin: auto;
}

body {
    background-color: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.icon-loading {
    color: rgb(71, 0, 138);
    display: none;
    margin-left: 3px;
}

.icon-warning {
    color: #856404;
}

.icon-settings {
    color: #020100;
}

.icon-check {
    color: #146300;
}

.icon-search {
    color: rgb(71, 0, 138);
    margin-right: 5px;
}

.rotate {
    animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(359deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.modal-content {
    box-shadow: 10px 20px 20px rgb(46, 46, 46);
}

.modal-header {
    background: rgb(168, 149, 255);
}

.modal-body {
    background-image: linear-gradient(#a38affa4, #c3b3ffa4);
    padding: 0 3em 0 3em;
}

.modal-footer {
    background: rgb(168, 149, 255);
}

.modal-title {
    font-size: 40px;
    font-family: 'Bookman', 'URW Bookman L', serif;
    font: bold;
    color: rgba(10, 60, 150, 0.8);
    text-shadow: 1px 3px 3px rgb(88, 17, 182), 0 0 0 rgb(55, 19, 122), 1px 4px 6px rgb(16, 134, 253);
}

.input {
    background-color: rgb(204, 245, 255);
    position: sticky;
    border-radius: 5px;
    margin-right: 2px;
}

#navbar {
    overflow: hidden;
    background: rgb(120, 90, 255);
    z-index: 2;
}

#navbar .nav-option {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: .2s;
}

.settings, .nav-right-option {
    display: block;
    color: black;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: .2s;
    margin: 0;
    border: none;
    outline: none;
}

#navbar .nav-option:hover {
    background-image: linear-gradient(#772ffd, #c588ff);
    color: white;
}

#navbar .active {
    background-image: linear-gradient(#772ffd, #c588ff);
    color: white;
    font-weight: bold;
}

#navbar .settings:hover, .nav-right-option:hover {
    display: block;
    background-image: linear-gradient(#772ffd, #c588ff);
    color: white;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

.button {
    font: bold 12px Arial;
    padding: 3px 6px 3px 6px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #333333;
    border: none;
    border-top: 1px solid #CCCCCC;
    box-shadow: 2px 2px rgb(68, 68, 68);
    border-left: 1px solid #CCCCCC;
    background-color: rgb(212, 167, 255);
    border-radius: 10px;
    display: inline-block;
}

.inline {
    display: inline;
}

.button:hover {
    box-shadow: 0;
    transform: translate(1px, 1px);
    text-decoration: none;
    color: #333333;
    box-shadow: .5px .5px rgb(68, 68, 68);
    transition: .3s;
}

.no-click-button {
    font: bold 12px Arial;
    padding: 3px 6px 3px 6px;
    text-align: center;
    outline: none;
    color: #333333;
    border: none;
    border-top: 1px solid #CCCCCC;
    box-shadow: 1px 1px rgb(68, 68, 68);
    border-left: 1px solid #CCCCCC;
    background-color: rgb(228, 198, 255);
    border-radius: 10px;
}

.search {
    padding: 12px;
    width: 400px;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.search-result {
    padding: 12px;
    width: 450px;
    display: flex;
    align-items: center;
    background-color: rgba(226, 190, 255, 0.205);
    border-radius: 2px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.input-button {
    line-height: 22px;
}

.large {
    font-size: 26px;
}

.dropdown {
    float: right;
}

.text-centered {
    margin-left: 10px;
}

.dropdown-content {
    display: none;
    position: fixed;
    right: 0;
    background: rgb(145, 120, 255);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.dropdown-content a:hover {
    background-image: linear-gradient(#8a4bff, #d6aaff);
    color: white;
    transition: .2s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.small-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.button-container {
    margin-left: auto;
    white-space: nowrap;
}

.list {
    padding: 30px 15px 15px 15px;
    clear: both;
}

.load-button {
    width: 75px;
}

.centered {
    text-align: center;
}

.main-image-div {
    width: 200px;
    height: 200px;
    display: inline-block;
    position: relative;
}

.main-image-div-sub {
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 50%;
}

.add-profile-pic {
    background-color: white;
    border-radius: 50%;
    color: rgb(31, 180, 39);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
    height: 25%;
}

.add-profile-pic:hover {
    color: green;
    transition: .3s;
}

.chat {
    background-color: rgb(82, 18, 184);
    border-radius: 5px 0 0 5px;
    padding: 12px;
    color: white;
}

.chat-col {
    float: right;
}

.chat-button {
    background-color: cornsilk;
    border-radius: 10px;
    cursor: pointer;
    position: fixed;
    top: 15%;
    right: 10px;
    font-size: 12px;
    padding: 5px;
    z-index: 2;
}

.clear {
    clear: both;
    line-height: 0;
}

.flex-fixed-width-item {
    transform: translateX(300px);
    right: 0px;
    top: 20%;
    position: fixed;
    max-width: 300px;
    min-width: 200px;
    z-index: 1;
    opacity: .85;
}

.image {
    border: 1px solid rgb(80, 80, 80);
    transition: .3s;
}

.image:hover {
    transform: translate(-5px, -10px);
    box-shadow: 3px 8px 5px #200e30;
    transition: .3s;
}

form {
    display: inline-block;
}

.profile-option {
    color: white;
    background-color: rgb(71, 0, 138);
    padding: 4px 7px;
    transition: .4s;
    cursor: pointer;
    border-radius: 15px;
    font-size: 15px;
}

@media screen and (max-width: 600px) {
    .profile-option {
        font-size: 11px;
    }
    .main-image-div {
        width: 150px;
        height: 150px;
    }
}

.profile-option:hover {
    background-color: rgb(106, 2, 204);
    transition: .4s;
}

.status {
    display: inline;
    font-size: 22px;
}

.available {
    color: rgb(15, 141, 15)
}

.busy {
    color: red;
}

.disconnected {
    color: rgb(141, 141, 141)
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(204, 204, 204, 0.39);
    margin: 1em 0;
    padding: 0;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.profile_link {
    font-size: .9em;
    color: #0f0094;
}

.profile_link:hover {
    text-decoration-color: currentcolor;
    text-decoration-style: solid;
    text-decoration-line: underline;
    color: #340061;
}